<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>688623904224-qa1s2apejt1qb6i3hsnes4828j243adl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688623904224-qa1s2apejt1qb6i3hsnes4828j243adl</string>
	<key>API_KEY</key>
	<string>AIzaSyDaX2xprMdE8QP92FGTHgzh_i8FBmRNERI</string>
	<key>GCM_SENDER_ID</key>
	<string>688623904224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vs.bcd.versus</string>
	<key>PROJECT_ID</key>
	<string>bcd-versus</string>
	<key>STORAGE_BUCKET</key>
	<string>bcd-versus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688623904224:ios:a5b347d9f3fb6916</string>
	<key>DATABASE_URL</key>
	<string>https://bcd-versus.firebaseio.com</string>
</dict>
</plist>